body {
    background-image: url(img/fotooboi-11413-hohloma-zakazposterov-ru_z.jpg);
}

#registrationWindow{
    background-color: black;
    width: 500px;
    height: 1050px;
    border: 4px outset gold;
    
    margin-left: auto;
    margin-right: auto;
}

#registrationWindow strong{
    color: firebrick;
    display: block;
    text-align: center;
}

#registrationWindow h1{
    text-align: center;
    color:gold;
}

#registrationWindow input{
    margin-left:160px;
    height:20px;
    border: 2px ridge gold;
}

#birthDate{
    position: relative;
    left:17px;
}

#submit{
    position: relative;
    left:20px;
    top:20px;
    width:140px;
}

#submit:hover{
    background-color: gold;
    cursor: pointer;
}

#registrationWindow h4{
    color:gold;
    text-align: center;
}

#back{
    text-decoration: underline;
    color: gold;
    position:relative;
    left:30px;
    top:30px;
}

#back:hover{
    color:red;
}

#authorisation{
    text-decoration: underline;
    color: gold;
    float:right;
    position: relative;
    top:30px;
    right:40px;
}

#authorisation:hover{
    color:red;
}

/*АВТОРИЗАЦИЯ!!!*/

#registration{
    text-decoration: underline;
    color: gold;
    float:right;
    position: relative;
    top:30px;
    right:40px;
}

#registration:hover{
    color:red;
}

#authorisationWindow{
    background-color: black;
    width: 500px;
    height: 360px;
    border: 4px outset gold;
    
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
}

#authorisationWindow strong{
    color: firebrick;
    display: block;
    text-align: center;
}

#authorisationWindow h1{
    text-align: center;
    color:gold;
}

#authorisationWindow input{
    margin-left:160px;
    height:20px;
    border: 2px ridge gold;
}

#authorisationWindow h4{
    color:gold;
    text-align: center;
}

#submit2{
    position: relative;
    left:20px;
    top:20px;
    width:140px;
}

#submit2:hover{
    background-color: gold;
    cursor: pointer;
}